//====================
//  APP VARIABLES
//====================
$COLOR_THEME: #e77e22;
$COLOR_DANGER: crimson;
$COLOR_SUCCESS: seagreen;
$COLOR_INFO: #0081a7;
$COLOR_BG: #f6f9fc;
$COLOR_DARK: #1b262b;
$COLOR_DARK_SECONDARY: #2b3a41;
$COLOR_DARK2: #354052;
$COLOR_LIGHT2: #edf2f6;
$COLOR_GREY: #ebedef;

// ==============
//    MIXINS
//===============
@mixin desktop-sm {
    @media only screen and (max-width: 1200px) {
        @content;
    }
}
@mixin tablet {
    @media only screen and (max-width: 1024px) {
        @content;
    }
}
@mixin mobile {
    @media only screen and (max-width: 768px) {
        @content;
    }
}
@mixin mobile-sm {
    @media only screen and (max-width: 480px) {
        @content;
    }
}
@mixin portrait {
    @media only screen and (max-width: 768px) and (orientation: portrait) {
        @content;
    }
}
@mixin landscape {
    @media only screen and (max-width: 768px) and (orientation: landscape) {
        @content;
    }
}
//==========================
//  SCREEN READERS STYLING
//==========================
.sr-only {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip: rect(1px 1px 1px 1px); //IE6 and IE7
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.sr-only--in-focus {
    position: static;
    clip: auto !important;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: auto;
    line-height: normal;
    width: auto;
    padding: 3rem 5rem;
    left: 0;
    right: 0;
    background: $COLOR_THEME;
    color: #000 !important;
    font-size: 1.6rem;
    z-index: 1000;
    display: block;
}
.sr-only--in-focus:hover {
    text-decoration-line: underline;
}
//====================
//  LINKS STYLING
//====================
a:link,
a:visited {
    color: $COLOR_THEME;
}
a:hover,
a:active {
    text-decoration: underline;
    color: $COLOR_INFO;
}
a:focus {
    text-decoration: underline;
    color: $COLOR_INFO;
}
//====================
//  ALERTS STYLING
//====================
.alert {
    padding: 3rem 2rem 2.5rem;
    text-align: center;
    font-size: 1.6rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 98vw;
    margin: 1vw;
    z-index: 999;
    border-radius: 0.5rem;
    opacity: 0;
    top: -5rem;
    animation: slideIn 0.5s forwards ease-in-out;
}
@keyframes slideIn {
    to {
        opacity: 1;
        top: 0;
    }
}
.alert--success {
    background: $COLOR_SUCCESS;
    color: seashell;
}
.alert__close {
    position: absolute;
    font-size: 2.4rem;
    line-height: 0;
    padding: 2rem;
    font-weight: bold;
    right: 0;
    top: 0;
    opacity: 0.7;
}
.alert__close:focus {
    border: dashed 0.1rem #fff;
}
//====================
//  FORM STYLING
//====================
form {
    margin-top: 3rem;
    display: block;
}
label,
.form__input {
    text-align: left;
    display: block;
    margin: 0.5rem 0;
    width: 100%;
}
.form__input--sml {
    width: 42rem;
}
.form__input--md {
    width: 55rem;
}
label {
    margin-top: 2rem;
    color: #c1c7cd;
    font-size: 1.4rem;
}

.form__input {
    border-radius: 0.4rem;
    border: solid 0.1rem #c1c7cd;
    padding: 1rem;
    font-size: 1.4rem;
}
.form__input:focus {
    background: $COLOR_GREY;
    border: solid 0.1rem $COLOR_GREY;
}
.form__input--err:focus,
.form__input--err {
    border: solid 0.1rem $COLOR_THEME;
}
.form__errs {
    color: $COLOR_THEME;
    a {
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }
    a:focus {
        border: none;
        padding: 0;
    }
    display: block;
    margin: 1rem 0 0;
    text-align: left;
}
legend {
    font-size: 1.6rem;
    color: #c1c7cd;
    padding: 0 2rem;
}
fieldset {
    border-radius: 0.4rem;
    border: solid 0.1rem #c1c7cd;
    padding: 0rem 4rem 2rem;
    width: 55rem;
    display: block;
    margin: 4rem 0 2rem;
}
.txtarea {
    border-radius: 0.4rem;
    border: solid 0.1rem #c1c7cd;
    padding: 1rem;
    font-size: 1.4rem;
    display: block;
    min-height: 10rem;
}
.txtarea:focus {
    background: $COLOR_GREY;
    border: solid 0.1rem $COLOR_GREY;
}
.txtarea--md {
    width: 55rem;
}
//====================
//  BUTTONS STYLING
//====================
.btn {
    border: solid 0.1rem #111;
    border-radius: 0.4rem;
    padding: 1.4rem 1rem;
    margin: 1rem 0;
    font-size: 1.4rem;
    background-color: none;
    min-width: 20rem;
}
.btn:hover {
    background-color: darken($COLOR_THEME, 10%);
}
.btn:focus {
    border: dashed 0.1rem #111;
}

.btn--theme {
    background-color: $COLOR_THEME;
    border-color: $COLOR_THEME;
    color: seashell;
    font-size: 1.8rem;
}
.btn--white {
    background-color: none;
    border-color: seashell;
    color: seashell;
}
.btn--white:focus {
    border: dashed 0.1rem #fff;
}
.btn--white:hover {
    border-color: $COLOR_DARK;
}
.btn--danger {
    background-color: $COLOR_DANGER;
    color: #fff;
    border-color: $COLOR_DANGER;
}
.btn--danger:hover {
    background-color: darken($COLOR_DANGER, 10%);
    border-color: darken($COLOR_DANGER, 10%);
}

.btn--info {
    background-color: $COLOR_INFO;
    color: #fff;
    border-color: $COLOR_INFO;
}
.btn--info:hover {
    background-color: darken($COLOR_INFO, 10%);
    border-color: darken($COLOR_INFO, 10%);
}

.btn--grey {
    border: solid 0.1rem $COLOR_GREY;
    background-color: $COLOR_GREY;
    color: $COLOR_DARK;
}
.btn--grey:hover {
    background-color: darken($COLOR_GREY, 10%);
    border-color: darken($COLOR_GREY, 10%);
}
.btn--danger:focus,
.btn--info:focus,
.btn--grey:focus {
    border: dashed 0.1rem #111;
    background-color: darken($COLOR_BG, 20%);
    color: $COLOR_DARK;
}
.btn--form {
    width: 100%;
}
.btn--sml {
    min-width: 10rem;
    padding: 1rem;
}
.btn--sibling {
    margin-right: 2rem;
}
//====================
//  HEADINGS STYLING
//====================
.heading {
    margin: 1rem 0;
    font-weight: bold;
}
.heading--med {
    font-size: 3rem;
}
.heading--sml {
    font-size: 2.5rem;
    font-weight: normal;
    margin: 2rem 0;
}
p {
    margin: 1rem 0;
    font-size: 1.3rem;
}
.p--lrg {
    font-size: 1.6rem;
}
//====================
//  OTHERS STYLING
//====================
.wrapper {
    width: 100rem;
    margin: auto;
}
