@import '../../../../App.scss';
.settings {
    padding: 5rem 0;
    section {
        padding: 2rem 0 2rem;
        border-bottom: solid 0.1rem $COLOR_BG;
    }
    section:last-child {
        border: none;
    }
}
.delete-account label {
    color: $COLOR_DANGER;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}
