@import '../../../../App.scss';

.section__heading {
    padding: 3rem 7rem;
    background-color: $COLOR_BG;
}
.section__body {
    padding: 3rem 7rem;
    background-color: #fff;
}
.dashboard__init {
    background-color: #fff;
    min-height: 100vh;
}

.dashboard__init-heading {
    padding: 4rem 0 3rem;
    background-color: $COLOR_BG;
}
.dashboard__init-form {
    padding: 2rem 0 4rem;
}
.dashboard__profiled {
    display: grid;
    grid-template-columns: auto 1fr;
}
.dashboard-nav {
    min-height: 90vh;
    height: 100%;
    background-color: $COLOR_THEME;
    color: #111;
}
.dashboard-nav__list {
    width: 18rem;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: block;
    padding-top: 4rem;

    li {
        display: block;
    }
}
.dashboard-nav__sublink,
.dashboard-nav__link {
    display: block;
    font-size: 1.3rem;
    padding: 1.2rem 3rem 1.2rem 2rem;
    color: #111;
}
.dashboard-nav__sublink:last-child {
    padding-bottom: 1.4rem;
}
.dashboard-nav__sublink {
    background-color: lighten($COLOR_THEME, 20%);
    padding-left: 3rem;
}
.dashboard-nav__link:focus,
.dashboard-nav__link:hover {
    background-color: lighten($COLOR_THEME, 10%);
    color: #111;
    text-decoration: none;
}
.dashboard-nav__sublink:focus,
.dashboard-nav__sublink:hover {
    background-color: lighten($COLOR_THEME, 30%);
    color: $COLOR_THEME;
    text-decoration: none;
}
.dashboard__link--is-active:hover,
.dashboard__link--is-active:focus,
.dashboard__link--is-active {
    background-color: $COLOR_BG;
}

.dashboard-nav__link:link,
.dashboard-nav__link:active,
.dashboard-nav__link:visited,
.dashboard-nav__sublink:active,
.dashboard-nav__sublink:visited {
    color: #111;
}
.dashboard-nav__link:focus,
.dashboard-nav__sublink:focus {
    border: dashed 0.1rem #111;
}
.dashboard-nav__link::-webkit-details-marker {
    padding-left: 0.9rem;
    font-size: 1.6rem;
    top: 0.2rem;
}
.dashboard__icon {
    height: 1.6rem;
    margin: 0 0.5rem;
    top: 0.3rem;
}
