@import './../../../App.scss';
.register {
    background-color: $COLOR_BG;
    display: grid;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.register__form {
    color: $COLOR_DARK;
    margin: 0 auto 5rem;
    width: 40rem;
}
