@import '../../App.scss';
.dashboard {
    display: grid;
    grid-template-columns: 18rem 1fr;
}
.dashboard__section {
    padding: 5rem 12rem;
}
.dashboard__heading {
    padding: 3rem 12rem 2.5rem;
    background-color: $COLOR_BG;
}
.dashboard-nav {
    min-height: 90vh;
    height: 100%;
    background-color: $COLOR_THEME;
    color: #111;
}
.dashboard-nav__list {
    width: 18rem;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: block;
    padding-top: 6.9rem;

    li {
        display: block;
    }
}
.dashboard-nav__sublink,
.dashboard-nav__link {
    display: block;
    font-size: 1.3rem;
    padding: 1.2rem 3rem 1.2rem 2rem;
    color: #111;
}
.dashboard-nav__sublink:last-child {
    padding-bottom: 1.4rem;
}
.dashboard-nav__sublink:link,
.dashboard-nav__sublink:active,
.dashboard-nav__sublink:visited {
    background-color: lighten($COLOR_THEME, 20%);
    color: darken($COLOR_THEME, 5%);
    padding-left: 3rem;
}
.dashboard-nav__link:focus,
.dashboard-nav__link:hover {
    background-color: lighten($COLOR_THEME, 10%);
    color: #111;
    text-decoration: none;
}
.dashboard-nav__sublink:focus,
.dashboard-nav__sublink:hover {
    background-color: lighten($COLOR_THEME, 30%);
    color: $COLOR_THEME;
    text-decoration: none;
}
.dashboard__link--is-active:hover,
.dashboard__link--is-active:focus,
.dashboard__link--is-active:link,
.dashboard__link--is-active:visited {
    background-color: #fff;
}

.dashboard-nav__link:link,
.dashboard-nav__link:active,
.dashboard-nav__link:visited {
    color: #111;
}
.dashboard-nav__link:focus,
.dashboard-nav__sublink:focus {
    border: dashed 0.1rem #111;
}
.dashboard-nav__list details,
.dashboard-nav__list details:focus {
    background-color: darken($color: $COLOR_THEME, $amount: 5%);
}
.dashboard-nav__link::-webkit-details-marker {
    padding-left: 0.9rem;
    font-size: 1.6rem;
    top: 0.2rem;
}
.dashboard__icon {
    height: 1.6rem;
    margin-right: 0.4rem;
    transform: translateY(0.3rem);
}
.submenu {
    display: grid;
    grid-template-columns: 1fr auto;
    padding-right: 4rem;
    align-items: center;
    // text-align: right;
    background-color: $COLOR_BG;
    ul,
    li {
        display: inline-block;
    }
}
.submenu__title {
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0 3rem;
}
.submenu__link {
    display: inline-block;
    padding: 2.5rem 1.1rem;
    font-size: 1.2rem;
    color: $COLOR_DARK;
    opacity: 0.6;
}
.submenu__link:link,
.submenu__link:active,
.submenu__link:hover,
.submenu__link:visited {
    color: #111;
    text-decoration: none;
}
button.submenu__link:hover,
.submenu__link:link:hover {
    background-color: darken($COLOR_BG, 3%);
    opacity: 1;
}
button.submenu__link:focus,
.submenu__link:link:focus {
    border: dashed 0.1rem #111;
}
