@import '../../../App.scss';
//company submenu styled in Dashboard.scss
.company-details {
    text-align: left;
    font-size: 1.4rem;
    li {
        display: grid;
        grid-template-columns: 16rem 1fr;
        padding-bottom: 0.5rem;
    }
}
.company-details__acronym {
    font-size: 1rem;
    font-style: italic;
}
.company-details__address {
    white-space: pre-line;
    display: block;
    margin: 4rem 0 0;
}
.company-details__bank {
    display: block;
    margin: 4rem 0;
}
.company-details__info {
    white-space: pre;
}
.company-tasks {
    fieldset {
        margin: 0;
    }
}
.task-table {
    padding-bottom: 1rem;
    font-size: 1.4rem;
    th,
    td {
        background-color: $COLOR_BG;
        margin: 0.3rem;
        min-width: 4.6rem;
        padding: 0.7rem 1rem;
        text-align: center;
    }

    tr {
        vertical-align: middle;
    }
    th[scope='row'] {
        text-align: left;
        width: 30rem;
    }
    tfoot td {
        padding: 1.5rem;
    }
}
.task-table__icon {
    height: 2rem;
    opacity: 0.5;
}
.task-table__btn {
    font-size: 2.5rem;
    top: 0;
    b {
        top: -0.1rem;
    }
}
.task-table__btn:focus {
    transform: scale(1.7);
    b {
        top: -0.3rem;
    }
}

.task-update:hover,
.task-delete:hover {
    .task-table__icon {
        opacity: 1;
    }
}
