@import '../../../../../App.scss';
.company {
    background-color: #fff;
}
.company-nav {
    background-color: darken($COLOR_BG, 5%);
    padding: 0 4rem 0 4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    ul {
        display: block;
        text-align: right;
        li {
            display: inline-block;
        }
    }
}
.company-nav__heading {
    opacity: 0.7;
    padding-top: 1rem;
}
.company-nav__link:active,
.company-nav__link:link,
.company-nav__link:visited {
    color: $COLOR_DARK;
    display: inline-block;
    padding: 3.9rem 1.2rem 2.9rem;
    font-size: 1.3rem;
    text-decoration: none;
}
.company-nav__link:hover {
    background-color: darken($COLOR_BG, 15%);
    // background-color: lighten($COLOR_THEME, 5%);
    text-decoration: none;
}
